<div class="max-w-2xl mx-auto">
    <h2 class="text-3xl font-bold mb-8 text-center">Venue Details</h2>
    <div class="bg-white shadow rounded-lg p-6">
      <h3 class="text-xl font-semibold mb-4 text-center">Zum Zollhaus - Scheune St. Georg</h3>
      <img src="assets/scheune.jpeg" alt="Venue Image" class="w-full h-auto rounded-lg mb-6 shadow-lg">
      <p class="mb-2">Adresse: Kleibroker Str. 200, 26180 Rastede</p>
      <div class="mb-4">
        <h4 class="font-semibold mb-2">Anfahrt:</h4>
        <p><a href="https://maps.app.goo.gl/2HgPkEYSnG2WevhUA" target="_blank" class="text-blue-500 hover:underline">Click here for Maps!</a></p>
      </div>
      <div class="mb-4">
        <h4 class="font-semibold mb-2">Parken:</h4>
        <p>Direkt vor der Location sind einige Parkplätze vorhanden. Ansonsten bietet die Straße (Hasenbült) auch Parkmöglichkeiten</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1193.2252757589931!2d8.217682878485512!3d53.26354647165969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b6dd40a744f0d3%3A0xa3aef5d78f57ca58!2sKleibroker%20Str.%20200%2C%2026180%20Rastede!5e0!3m2!1sde!2sde!4v1730407343387!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
