<div>
<div class="min-h-screen bg-sky-100">
  <nav class="bg-sky-300 shadow-md">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex-shrink-0 flex items-center">
          <span class="text-3xl font-bold text-black-700">Wedding</span>
        </div>
        <div class="hidden sm:flex sm:items-center sm:justify-center sm:space-x-8">
          <a routerLink="/" routerLinkActive="text-gray-900 border-b-2 border-green-700"
            class="text-gray-600 hover:text-gray-900 px-3 py-2 text-sm font-medium">
            Home
          </a>
          <a routerLink="/schedule" routerLinkActive="text-gray-900 border-b-2 border-green-700"
            class="text-gray-600 hover:text-gray-900 px-3 py-2 text-sm font-medium">
            Zeitplan
          </a>
          <a routerLink="/location" routerLinkActive="text-gray-900 border-b-2 border-green-700"
            class="text-gray-600 hover:text-gray-900 px-3 py-2 text-sm font-medium">
            Location
          </a>
          <a routerLink="/hotels" routerLinkActive="text-gray-900 border-b-2 border-green-700"
            class="text-gray-600 hover:text-gray-900 px-3 py-2 text-sm font-medium">
            Hotels
          </a>
          <a routerLink="/gallery" routerLinkActive="text-gray-900 border-b-2 border-green-700"
            class="text-gray-600 hover:text-gray-900 px-3 py-2 text-sm font-medium">
            Gallery
          </a>
          <a routerLink="/rsvp-form" routerLinkActive="text-gray-900 border-b-2 border-green-700"
          class="text-gray-600 hover:text-gray-900 px-3 py-2 text-sm font-medium">
            RSVP
        </a>
        </div>
      </div>
    </div>
  </nav>

  <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <router-outlet></router-outlet>
  </main>
</div>
<app-footer></app-footer>
<app-rsvp-form></app-rsvp-form>
</div>
