<div class="max-w-2xl mx-auto">
    <h2 class="text-4xl font-bold mb-8 text-center">Zeitplan</h2>
    <b>+++ Zeitplan wird noch bekannt gegeben! +++</b>
    <div class="space-y-6">
      <!--<div class="border-l-4 border-green-700 pl-4">
        <h3 class="text-xl font-semibold">Empfang</h3>
        <p class="text-gray-600">15:00 Uhr</p>
        <p>Begrüßung und Sektempfang an der Location</p>
      </div>
      <div class="border-l-4 border-green-700 pl-4">
        <h3 class="text-xl font-semibold">Freie Trauung</h3>
        <p class="text-gray-600">16:00 Uhr</p>
        <p>Freie Trauung auf der Terrasse</p>
      </div>
      <div class="border-l-4 border-green-700 pl-4">
        <h3 class="text-xl font-semibold">Kaffee und Kuche</h3>
        <p class="text-gray-600">17:00 Uhr</p>
        <p>Kaffee, Tee und kleines Kuchenbuffet</p>
      </div>
      <div class="border-l-4 border-green-700 pl-4">
        <h3 class="text-xl font-semibold">Grillbuffet</h3>
        <p class="text-gray-600">19:00 Uhr</p>
        <p>Eröffnung Grillbuffet</p>
      </div> -->
    </div>
  </div>
