@import '@angular/material/prebuilt-themes/indigo-pink.css';
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Make the root container a full-height flexbox */
html, body {
    height: 100%;
    margin: 0;
    /*font-family: ui-rounded, Hiragino Maru Gothic ProN;*/
    font-family: Helvetica, sans-serif;
  }
  
  #app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* The main content area takes all available space */
  main {
    flex: 1;
  }