<!-- Header Section -->
<header class="app-header">
  <h1 class="app-title">Hochzeit</h1>
  <h1 class="app-title">Sinje & Kevin</h1>
  <h2 class="app-date">23. August 2025</h2>
  <div class="custom-divider"></div>
</header>

<!-- Main Content Section -->
<main class="app-content">
  <section class="description">
    <p class="app-description">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat...
      Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr...
    </p>
  </section>

  <!-- Image Gallery Section -->
  <!--<img src="assets/images/herzbild.png"/>-->

  <img src="assets/images/torte.png"/>


</main>
